<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header class="card"> <p> 
        <a href="/">Home</a>
        <a href="/allCountries">All Countries</a>
        <a href="/Records">My Records</a>

    </p></header>
    <main class="container">
      <div class="card">
          <p>TotalConfirmed: <%= data.TotalConfirmed  %> </p>
          <p>TotalDeaths: <%= data.TotalDeaths  %> </p>
          <p>TotalRecovered: <% data.TotalRecovered %> </p>
      </div>
      <div class="card" >
          <form action="/getCountry">
             <span>country</span>
             <input type="text" name="country" value="country">
             <input type="date" name="from" value="from">
             <input type="date" name="to" value="to">

             <button>select</button>

        </form>
      </div>
    </main>
</body>
</html>

